{% load i18n material %}

<ul id="menu-bar" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="{{ profile_bg }}" alt="{% trans 'Profile background' %}" />
      </div>
      <img class="circle" src="{{ profile_picture }}" alt="{% trans 'Profile picture' %}">
      <a href="#"><span class="grey-text text-lighten-3 name">{{ user.first_name }} {{ user.last_name }}</span></a>
      <a href="#"><span class="white-text text-lighten-1 email">{{ user.email }}</span></a>
    </div>
  </li>
  {% for app in available_apps %}
    {% for model in app.models %}
      <li{% if model.admin_url in request.path %} class="active"{% endif %} title="{{ model.name }}">
        <a href="{{ model.admin_url }}">
          <i class="material-icons prefix">{{ model.icon|default:'settings' }}</i>
          {{ model.name }}
        </a>
      </li>
    {% endfor %}
  {% endfor %}
</ul>
