{% load i18n %}
<div class="actions list-actions-bar-item" id="changelist-form">
  {% block actions %}
    {% block actions-counter %}
      {% if actions_selection_counter %}
        <div class="action-counter-wrapper">
          <span class="action-counter" data-actions-icnt="{{ cl.result_list|length }}">
            {{ selection_note }}:
          </span>
        </div>
      {% endif %}
    {% endblock %}
    {% block actions-form %}
      {% for field in action_form %}
        {% if field.field.widget.choices %}
          <select form="changelist-form" name="action" required tabindex="-1" title="Actions">
            <option value="" disabled selected>Actions</option>
            {% for option in field.field.widget.choices %}
              <option value="{{ option.0 }}">{{ option.1 }}</option>
            {% endfor %}
          </select>
        {% else %}
          {{ field }}
        {% endif %}
      {% endfor %}
    {% endblock %}
    {% block actions-submit %}
      <div id="actions-submit-wrapper">
        <button type="submit"
                form="changelist-form"
                class="waves-effect waves-light btn btn-small"
                title="{% trans "Run the selected action" %}"
                name="index"
                value="{{ action_index|default:0 }}">{% trans "Go" %}</button>
      </div>
    {% endblock %}
  {% endblock %}
</div>
