{% extends "admin/base_site.html" %}
{% load static i18n material %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'material/admin/css/materialize.min.css' %}">
    <link href="{% static 'material/admin/css/material_icons.min.css' %}" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url('{% static 'material/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2' %}') format('woff2');
        }

        @font-face {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            src: url('{% static "material/fonts/QRaHQjc-5Z5XfZNrXdrg59XsSk7_wVstdYMSyQfdMxrGOrvcKe8a8axDEteCvFiY.woff" %}') format('woff');
        }

        @font-face {
            font-family: 'DM Sans';
            font-style: italic;
            font-weight: 400;
            src: url('{% static "material/fonts/FtxC2DoWXxcjniikUbmP027E8uJQpnf2WHiToc8SpYpyKkBPJISQhW4RrU5GxCWw.woff2" %}') format('woff2');
        }

        @font-face {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            src: url('{% static "material/fonts/A4R3xu4X9eI-ZHt4PSOPfa6EqLSvQRp-k7QSxU2HA8-PfmUMKvF6dAEF1X09FeWk.woff2" %}') format('woff2');
        }

        @font-face {
            font-family: 'DM Sans';
            font-style: italic;
            font-weight: 500;
            src: url('{% static "material/fonts/2-nwU5eGFF7kj1htRH93f49Mjd5IsAQn8Z8g95_DJpQVYUxJHo69TFjR7e7QrdL-.woff2" %}') format('woff2');
        }

        @font-face {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            src: url('{% static "material/fonts/OU3Ebg9nwa0VEwMntC-jcCJCAiG4GFAthqp43sE1S1cl1vgnLMZ2IHviYYXaddck.woff" %}') format('woff');
        }

        @font-face {
            font-family: 'DM Sans';
            font-style: italic;
            font-weight: 700;
            src: url('{% static "material/fonts/o8lvEI00B9ahgX04rvuHgbzoVWlCDUpSoTVG6w9hj54b0v8vLNFuwKMkXNd9mYs8.woff2" %}') format('woff2');
        }

        @font-face {
            font-family: Spartan;
            font-style: normal;
            font-weight: 400;
            src: url('{% static "material/fonts/B0ixn_0WUDNTyuQYH6Ucb17wY-8EdCDClQyWl94r5ltP8Lk5z0y6JDbHDpU5Rbgr.woff" %}') format('woff');
        }

        @font-face {
            font-family: Spartan;
            font-style: normal;
            font-weight: 700;
            src: url('{% static "material/fonts/w_28bsIy_G8mJIwQJcAN5KMERcn4lygnGigyYPUXk0rhZ6Zbu1YFsxWPuvxFZvlD.woff" %}') format('woff');
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/base_site.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/autocomplete.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/app_content.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/side_nav.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/header.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/tray.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/tray-responsive.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/selector_relative.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/selector_relative-responsive.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/base_site-responsive.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/clearable_file_input.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/jquery.jscrollpane.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="{% static 'material/admin/js/jquery.min.js' %}"></script>
    {% if favicon %}
        <link rel="icon" href="{{ favicon }}" />
    {% endif %}
    {% block theme %}
        {% if current_theme and current_theme != 'default' %}
            <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/base_site-'|add:current_theme|add:'.min.css' %}">
            {% if current_theme != 'night' %}
                <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/base_site-theme.min.css' %}">
            {% endif %}
        {% elif main_bg_color and main_hover_color %}
            <style>
                :root {
                    --main-bg-color: {{ main_bg_color }};
                    --main-hover-color: {{ main_hover_color }};
                }

                @media (prefers-color-scheme: dark) {
                    :root {
                        --main-bg-color: {{ main_hover_color }};
                        --main-hover-color: {{ main_bg_color }};
                    }
                }
            </style>
            <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/base_site-theme.min.css' %}">
        {% endif %}
    {% endblock %}
{% endblock %}

{% block branding %}
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <h1 id="site-name">
                <a href="{% url 'admin:index' %}">
                    <strong>
                        {{ site_header }}
                    </strong>
                </a>
            </h1>
        </div>
    </nav>
{% endblock %}

{% block userlinks %}
  <div id="user-greeting">
    {{ user.get_full_name }}
  </div>
  <div id="user-menu">
    <a href="#" class="dropdown-menu" data-target="user-menu-content">
      <i class="material-icons">account_circle</i>
      <i class="material-icons">arrow_drop_down</i>
    </a>
    <ul id="user-menu-content" class="dropdown-content no-autoinit">
      <li>
        <a href="{% url 'admin:password_change' %}">
          {% trans 'Change password' %}
        </a>
      </li>
      <li>
        <a href="{% url 'admin:logout' %}">
          {% trans 'Log out' %}
          <i class="material-icons" aria-hidden="true">exit_to_app</i>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block side_nav %}
    {% if not is_popup %}
    {% if not nav_bar_minimized %}
        <div id="side-bar" class="hide-on-med-and-down">
            {% include 'material/admin/side_nav.html' with available_apps=available_apps app=app %}
        </div>
    {% endif %}
    <div id="mobile-demo" class="sidenav">
        {% include 'material/admin/side_nav.html' with available_apps=available_apps app=app mobile=True %}
    </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <script>
        var datepickerOptions = {
            autoClose: true,
            defaultDate: true,
            showClearBtn: true,
            i18n: {
                cancel: '{% trans 'Cancel' %}',
                clear: '{% trans 'Clear' %}',
                done: '{% trans 'Ok' %}',
                months: [
                    '{% trans 'January' %}',
                    '{% trans 'February' %}',
                    '{% trans 'March' %}',
                    '{% trans 'April' %}',
                    '{% trans 'May' %}',
                    '{% trans 'June' %}',
                    '{% trans 'July' %}',
                    '{% trans 'August' %}',
                    '{% trans 'September' %}',
                    '{% trans 'October' %}',
                    '{% trans 'November' %}',
                    '{% trans 'December' %}',
                ],
                monthsShort: [
                    '{% trans 'Jan' %}',
                    '{% trans 'Feb' %}',
                    '{% trans 'Mar' %}',
                    '{% trans 'Apr' %}',
                    '{% trans 'May' %}',
                    '{% trans 'Jun' %}',
                    '{% trans 'Jul' %}',
                    '{% trans 'Aug' %}',
                    '{% trans 'Sep' %}',
                    '{% trans 'Oct' %}',
                    '{% trans 'Nov' %}',
                    '{% trans 'Dec' %}',
                ],
                weekdays: [
                   '{% trans 'Sunday' %}',
                   '{% trans 'Monday' %}',
                   '{% trans 'Tuesday' %}',
                   '{% trans 'Wednesday' %}',
                   '{% trans 'Thursday' %}',
                   '{% trans 'Friday' %}',
                   '{% trans 'Saturday' %}',
                ],
                weekdaysShort: [
                    '{% trans 'Sun' %}',
                    '{% trans 'Mon' %}',
                    '{% trans 'Tue' %}',
                    '{% trans 'Wed' %}',
                    '{% trans 'Thu' %}',
                    '{% trans 'Fri' %}',
                    '{% trans 'Sat' %}',
                ],
                weekdaysAbbrev:	[
                    '{% trans 'Su' %}',
                    '{% trans 'Mo' %}',
                    '{% trans 'Tu' %}',
                    '{% trans 'We' %}',
                    '{% trans 'Th' %}',
                    '{% trans 'Fr' %}',
                    '{% trans 'Sa' %}',
                ]
            }
        };
        var timeOptions = {
            twelveHour: false,
            autoClose: true,
            showClearBtn: true,
            i18n: {
                cancel: '{% trans 'Cancel' %}',
                clear: '{% trans 'Clear' %}',
                done: '{% trans 'Ok' %}',
            }
        };

    </script>

    <script src="{% static 'material/admin/js/materialize.min.js' %}"></script>
    <script src="{% static 'material/admin/js/materialize-init.min.js' %}"></script>
    <script src="{% static 'material/admin/js/admin.js' %}"></script>
    <script src="{% static 'material/admin/js/filters.js' %}"></script>
    <script src="{% static 'material/admin/js/tray.js' %}"></script>
    <script type="text/javascript" src="{% static 'material/admin/js/jquery.mousewheel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'material/admin/js/jquery.jscrollpane.min.js' %}"></script>
    <script src="{% static 'material/js/jquery-ui.min.js' %}"></script>
{% endblock %}
