{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify material %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/change_form.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/object_tools.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/object_tools-responsive.min.css' %}">
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
      &rsaquo;
      {% if has_view_permission %}
        {% url opts|admin_urlname:'changelist' as change_list_url %}
        <a href="{% add_preserved_filters change_list_url %}">{{ opts.verbose_name_plural|capfirst }}</a>
        {% else %}
          {{ opts.verbose_name_plural|capfirst }}
        {% endif %}
      &rsaquo;
      {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}
        {{ original|truncatewords:"18" }}{% endif %}
    </div>
  {% endblock %}
{% endif %}

{% block content %}
  <div id="content-main">
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}
          class="change-form"
          action="{{ form_url }}"
          method="post"
          id="{{ opts.model_name }}_form"
          novalidate>
      {% csrf_token %}
      {% block form_top %}{% endblock %}
      <div>
        {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
        {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
        {% if errors %}
          <p class="errornote">
            {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
          </p>
          {{ adminform.form.non_field_errors }}
        {% endif %}
        <div class="module">
          {% block field_sets %}
            {% for fieldset in adminform %}
              {% include "admin/includes/fieldset.html" %}
            {% endfor %}
          {% endblock %}

          {% block inline_field_sets %}
            {% for inline_admin_formset in inline_admin_formsets %}
              {% include inline_admin_formset.opts.template %}
            {% endfor %}
          {% endblock %}

          {% block after_field_sets %}{% endblock %}
          {% block after_related_objects %}{% endblock %}
          {% block admin_change_form_document_ready %}
            <script type="text/javascript"
              id="django-admin-form-add-constants"
              src="{% static 'admin/js/change_form.js' %}"
              {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
              {% endif %}>
            </script>
          {% endblock %}
          {% if has_change_permission %}
          <div id="edit-fab">
            <button class="btn btn-floating btn-large waves-effect waves-light" onclick="window.makeEditable()" type="button">
              <i class="material-icons" title="edit">edit</i>
            </button>
          </div>
          <div id="save-fab" class="hide">
            <button name="_save" class="btn btn-floating btn-large waves-light waves-effect primary" type="submit">
              <i class="material-icons" title="save">check</i>
            </button>
          </div>
          <div id="cancel-fab" class="hide">
            <button name="_cancel" class="btn btn-floating btn-large waves-light waves-effect red" type="button"
                    onclick="window.cancelEdit(this)" data-list-view-url="{% url opts|admin_urlname:"changelist" %}"
            >
              <i class="material-icons" title="cancel">clear</i>
            </button>
          </div>
          {% endif %}
        </div>

        {# JavaScript for prepopulated fields #}
        {% prepopulated_fields_js %}

      </div>
    </form>
  </div>
  {% block static_bar %}{% endblock static_bar %}
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'material/admin/js/inline-forms.min.js' %}"></script>
  {% if add %}
    <script type="text/javascript">
      window.addEventListener('load', () => {
        window.makeEditable()
      });
    </script>
  {% endif %}
{% endblock %}

