{% extends "admin/change_list.html" %}
{% load i18n static admin_list %}
{% load i18n admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/changelists.min.css' %}">
{% endblock %}
{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
      &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
    </div>
  {% endblock %}
{% endif %}
{% block content %}
  {# FIXME: Find a place for this #}
  {% if cl.formset.errors %}
    <p class="errornote">
      {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}
        {% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ cl.formset.non_form_errors }}
  {% endif %}

  <div id="content-main" class="list-content">
    {% block object-tools %}
      <ul id="object-tools-list">
        {% block object-tools-items %}
          {% if has_add_permission %}
            <li>
              {% url cl.opts|admin_urlname:'add' as add_url %}
                <a href="{% add_preserved_filters add_url is_popup to_field %}"
                   class="btn-floating btn-large waves-effect waves-light">
                  <i class="material-icons" aria-hidden="true">add</i>
                </a>
            </li>
          {% endif %}
        {% endblock %}
      </ul>
    {% endblock %}
    {# 2 columns: main content (80%) and sidebar with filters (20%) #}
    <div id="object-list-wrapper">
      <form id="changelist-form"
            method="post"{% if cl.formset.is_multipart %}
            enctype="multipart/form-data"{% endif %}
            novalidate>{% csrf_token %}
        {% if cl.formset %}
          <div>{{ cl.formset.management_form }}</div>
        {% endif %}
      </form>
      <!-- List Actions bar -->
      <div id="list-actions-bar" style="justify-content: {% if action_form and actions_on_top and cl.show_admin_actions %}space-between{% else %}flex-end{% endif %}">
        {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
        {% block search %}{% search_form cl %}{% endblock %}
      </div>
      <!-- END List Actions bar -->
      <!-- Result Table and Date Filters -->
      <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">

        {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}


          {% block result_list %}
            {% result_list cl %}
          {% endblock %}
          {% block pagination %}{% pagination cl %}{% endblock %}
      </div>
      <!-- END Result Table and Date Filters -->
    </div>
    <div class="side-wrapper">
      <!-- Filters -->
      <div class="card">
        {% block filters %}
          {% if cl.has_filters %}
            <div class="card-content" id="changelist-filter">
            <h5>{% trans 'Filter' %}</h5>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
            </div>
            <div class="card-action">
              <a href="{{ cl.clear_all_filters_qs }}"><span class="red-text">&#10006;</span> <span class="grey-text">{% translate "Clear all filters" %}</span></a>
            </div>
          {% endif %}
        {% endblock %}
      </div>
      <!-- END Filters -->
    </div>
  </div>
{% endblock %}
