{% load material %}
{% load i18n %}
<div class="paginator">
  <div class="result-counts">
    {{ cl.result_count }}
    {% if cl.result_count == 1 %}
      {{ cl.opts.verbose_name }}
    {% else %}
      {{ cl.opts.verbose_name_plural }}
    {% endif %}
  </div>
  {% if pagination_required %}
    <ul class="pagination">
      {% material_paginator_previous cl %}
      {% for i in page_range %}
        {% material_paginator_number cl i %}
      {% endfor %}
      {% material_paginator_next cl %}
    </ul>
  {% endif %}
</div>
