{% load i18n static %}

{% block extrastyle %}
<link href="{% static 'material/admin/css/search_form.min.css' %}" rel="stylesheet">
{% endblock %}

{% if cl.search_fields %}
  <script type="application/javascript">
  function handleInput(elm) {
    const resetButton = document.querySelector('#search-reset');
    if (elm.value.length > 0) {
      if (resetButton.classList.contains('hidden')) {
        resetButton.classList.remove('hidden')
      }
    } else {
      resetButton.classList.add('hidden')
    }
  }

  function handleReset(elm) {
    const resetButton = document.querySelector('#search-reset');
    const queryString = window.location.search
    let params = new URLSearchParams(queryString)
    const currentSearchValue = params.get('{{ search_var }}')
    const formMatchesQuery = elm.form.elements['{{ search_var }}'].value === currentSearchValue

    elm.form.elements['{{ search_var }}'].value = '';
    if (formMatchesQuery) {
      elm.form.submit()
    } else {
      elm.form.elements['{{ search_var }}'].focus();
      resetButton.classList.add('hidden');
    }
  }

  </script>
  <div class="list-actions-bar-item" id="searchbar">
    <form id="changelist-search" method="get">

      <div class="input-field">
        <button id="search-submit" type="submit" class="prefix">
          <i class="material-icons">search</i>
        </button>
        <input
          id="search-input"
          class="validate"
          type="text"
          size="40"
          name="{{ search_var }}"
          value="{{ cl.query }}"
          title="{% trans 'Search' %} {{ cl.opts.verbose_name }}"
          placeholder="{% trans 'Search' %} {{ cl.opts.verbose_name }}"
          oninput="handleInput(this)"
        >
        <button id="search-reset"{% if not cl.query %} class="hidden"{% endif %} type="button" onclick="handleReset(this)">
          <i class="material-icons" aria-hidden="true">clear</i>
        </button>
        {% if show_result_count %}
          <span class="small quiet">
            {% blocktrans count counter=cl.result_count %}
              {{ counter }} result{% plural %}{{ counter }} results
            {% endblocktrans %}
            (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">
              {% if cl.show_full_result_count %}
                {% blocktrans with full_result_count=cl.full_result_count %}
                  {{ full_result_count }} total
                {% endblocktrans %}
              {% else %}
                {% trans "Show all" %}
              {% endif %}
            </a>)
          </span>
        {% endif %}
        {% for pair in cl.params.items %}
          {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
        {% endfor %}
      </div>
    </form>
  </div>
{% endif %}
